<footer>
  <section>
    <div class="Logo m-0">
      <img src="https://raw.githubusercontent.com/lit-lang/lit/refs/heads/main/assets/icon-square.png" alt="Lit logo">
      <h2>Lit</h2>
    </div>
  </section>

  <section>
    <h2>Get Involved</h2>
    <ul>
      <li><a href="https://github.com/lit-lang/lit/issues" target="_blank">Issue Tracker</a></li>
      <li><a href="https://github.com/lit-lang/lit" target="_blank">Source Code</a></li>
      <li><a href="https://github.com/lit-lang/site" target="_blank">Website Repository</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=lit-lang.lit" target="_blank">VS Code Extension</a></li>
    </ul>
  </section>

  <p>© {{ 'now' | date: '%Y' }} Matheus Richard</p>
</footer>
