<header>
  <a href="/">
    <div class="Logo mx-auto">
      <img src="https://raw.githubusercontent.com/lit-lang/lit/refs/heads/main/assets/icon-square.png" alt="Lit logo">
      <p>Lit</p>
    </div>
  </a>
  <nav aria-label="Main navigation" class="Nav">
    <ul>
      <li><a href="{{ site.lit.repo }}" target="_blank">Source</a></li>
      <li><a href="/#syntax">Documentation</a></li>
      <li><a href="/news">News</a></li>
    </ul>
  </nav>
</header>
